/* Tamanho da página */
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  position: absolute;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

/* Tamanho do mapa */
#mapa {
  height: 640;
  width: 620;
  top: 150px;
  display: block;
  left: 280px;
}

/* Barra Superior */
header {
  background-color: #66CDAA;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
  transition: top 0.3s;
}

header a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Efeito de quando passa o mouse sobre o menu*/
header a:hover {
  background-color: #fff;
  color: #66cdaa;
}

header ul {
  margin: 15px auto;
  padding: 0 20px;
  text-align: center;
}

header li {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  width: 200px;
}

/* Caixa do conteudo */
.grid {
  border: 0.5px #cccccc solid;
  width: 1200px;
  height: 100%;
  display: grid;
  position: fixed;
  left: 198;
  background: #ffffff

}

/* Posicao dos títulos das páginas */
.publicacao, .sobre, .mapa-text {
  position: absolute;
  top: 80px;
}

.publicacao li {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.publicacao a{
  color: #66CDAA;
}

.sobre a{
  color: #66CDAA;
}

/* Tipografia */
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
